body {
    background: radial-gradient(circle at 10% 20%, rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%);
  }
 
@media (min-width: 600px) {
  .container {
    width: 600px;
  }
}

.star {
  color: gold;
}

#search {
  width: 500px;
}

@media (max-width: 700px) {
  #search {
    width: 100%;
  }
  .text {
    display: none;
  }

  .top {
    margin-top: 2rem;
  }

  .top-body {
    text-align: center;
   }
  
}
